.header{
    margin-bottom:15px;
    padding: 10px 40px;
    border-bottom: 3px solid beige;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    
}


.lg{
    
    color: beige;
    font-weight: bolder;
    font-size: 2em;
}